body{
    overflow-y: hidden;
    font-family: 'Roboto Condensed';
}
.bgimg{
    width: 100%;
}
#terug{
    
}
#terug a{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-top: 20vh;
    margin-left: 34vw;
}