body{
    overflow-y: hidden;
    font-family: 'Roboto Condensed';
}
.bgimg{
    width: 70%;
    margin-left: 15%;
}
#terug{
    margin-top: 5vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

}
#terug a{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 40px;
}