* {
    margin:0;
    padding:0;

}

:root {
    --page-height: 100vh;
    --header-height: 7.5vh;
    --footer-height: 25vh;
    --body-height: calc(var(--page-height) - var(--header-height) - var(--footer-height));
}

#root {
    height: var(--page-height);
    width: 100% !important;
}



/*---------------------MAIN------------------------*/
*{
    font-family: 'Roboto Condensed';

}

body {
    background: url("./img/achtergrond.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#main {

    margin-right:10%;
    margin-left:10%;
    width: 80%;
    height: var(--body-height);
    background-color: rgba(255, 255, 255, 0.76);
    ;
}

#titel {

    font-family: 'Roboto Condensed';
    text-align: center;
    font-size: min(10vw, 70px);
}

#justi{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#formu{
    display: grid;
    grid-template-columns: 150px 200px;
    row-gap: 5px;
    margin-left:auto;
    margin-right:auto;

}

#formu input {
    border: black 1px solid;
    background-color: #d0d0d0;
}

#formu input:focus , #vraag:focus{
    outline: none !important;
    background-color: #ececec;
}

#vraag {
    background-color: #d0d0d0;
    height: 100px;
    width: 300px;
    border: black 1px solid;
    resize: none;
}

#verzend {
    background-color: transparent !important;
    border: #5588e7 2px solid !important;
    color: #5588e7;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin-left: 300px;
}

#line {
    border-top: #aaaaaa solid 2px;
    margin-top: 50px;

}

#line p{
    text-align: center;
}

#outer-div {


    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
}

#inner-div1{
    width: 100%;
    height: 100%;
}

#inner-div1 p{
    margin-left: 10%;
    text-align: start;


}

#inner-div2{
 background: #717171;
    width: 100%;
    height: 100%;
}

#inner-div2 p {
    margin-left: 10%;
    text-align: start;
}