* {
    margin:0;
    padding:0;

}

:root {
    --page-height: 100vh;
    --header-height: 7.5vh;
    --footer-height: 25vh;
    --body-height: calc(var(--page-height) - var(--header-height) - var(--footer-height));
}

#root {
    height: var(--page-height);
    width: 100% !important;
}



/*---------------------MAIN------------------------*/
body {
    background: url("./img/achtergrond.png");
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Condensed';
}

#main {

    margin-right:10%;
    margin-left:10%;
    width: 80%;
    height: var(--body-height);
    background-color: rgba(255, 255, 255, 0.76);
}

#titel {

    font-family: 'Roboto Condensed';
    text-align: center;
    font-size: 70px;

}