* {
    margin:0;
    padding:0;

}

:root {
    --page-height: 100vh;
    --header-height: 7.5vh;
    --footer-height: 25vh;
    --body-height: calc(var(--page-height) - var(--header-height) - var(--footer-height));
}

#root {
    height: var(--page-height);
    width: 100% !important;
}



/*---------------------MAIN------------------------*/

#main {
    width: 100vw;
    height: var(--body-height);
    background: deeppink;
}
#main .flexContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#main .flexContainer .mainContent {
    background: aqua;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
#main .flexContainer .mainContent .mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#main .flexContainer .mainContent .mainText>span {
    display: block;
    width: 80%;
    text-align: center;
}
#main .flexContainer .mainContent .imageContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#main .flexContainer .mainContent .imageContainer .img{
    background: lime;
    width: 20vw;
    height: 15vh;
}



