* {
    margin:0;
    padding:0;

}

:root {
    --page-height: 100vh;
    --header-height: 7.5vh;
    --footer-height: 25vh;
    --body-height: calc(var(--page-height) - var(--header-height) - var(--footer-height));
}

#root {
    height: var(--page-height);
    width: 100% !important;
}



/*---------------------MAIN------------------------*/
body {
    background: url("./img/achtergrond.png");
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Condensed';
}

#main {
    width: 100vw;
    height: var(--body-height);

}
#main .flexContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#main .flexContainer .mainContent {
    background: rgba(255, 255, 255, 0.76);
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    border-radius: 10px;
}
#main .flexContainer .mainContent .mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#main .flexContainer .mainContent .mainText>span {
    display: block;
    width: 80%;
    text-align: center;
}
#main .flexContainer .mainContent .imageContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#main .flexContainer .mainContent .imageContainer .img{
    background: lightgray;
    margin-left: 60px;
    margin-right: 60px;
    width: 20vw;
    height: 15vh;
}



