* {
    margin:0;
    padding:0;

}

:root {
    --page-height: 200vh;
    --header-height: 7.5vh;
    --footer-height: 25vh;
    --body-height: calc(var(--page-height) - var(--header-height) - var(--footer-height));
}

#root {
    height: var(--page-height);
    width: 100% !important;
}



/*---------------------MAIN------------------------*/

#main {
    width: 100%;
    height: var(--body-height);
    background: url("./img/infobg.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 50% 50%;
}

#main #mainContent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 20% 35% 45%;
    column-gap: 10%;
    row-gap:1%;
    padding-left: 5%;
    padding-right: 5%;
}
#mainContent #quote {
    grid-column: 1;
    grid-row:1;
    background: rgba(0,0,0,0) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quote h1 {
    text-align: center;
}
#mainContent #indeling {
    grid-column: 1;
    grid-row: 2;
    background: white;

}
#mainContent #boden {
    grid-column: 2;
    grid-row:2;
    background:white;
}
#mainContent #boden ol {
    list-style: none;
}
#mainContent #maps {
    grid-column: 1;
    grid-row: 3;
    background: white;
}
#mainContent #maps .temp {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#mainContent #form {
    grid-column:2;
    grid-row:3 !important;
}
#mainContent #form form{
    display: block;
}
#mainContent>div {
    background: rgba(80,80,80,0.1) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}






/* SLIDER __________________________ */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 100% !important;
}

.mySlides > img {
    height:100% !important;
}

/* @media (max-width:1200px){
    .mySlides > img {
        position: unset;
    }
    .mySlides {
        display:flex;
        justify-content: center;
    }
} */
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}